<div id="cart_table">
    {% for item in cart_items %}
    <tr class="cart_item">
        <td class="product-thumbnail" data-title="Product Name">
            <a class="prd-thumb" href="#">
                <figure><img width="113" height="113" src="/static/assets/images/shippingcart/pr-01.jpg" alt="shipping cart"></figure>
            </a>
            <a class="prd-name" href="#">National Fresh Fruit</a>
        </td>
        <td class="product-price" data-title="Price">
            <div class="price price-contain">
                <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
            </div>
        </td>
        <td class="product-quantity" data-title="Quantity">
            <div class="quantity-box type1">
                <div class="qty-input">
                    <input min=1 max=1000 type="number" name="qty" hx-trigger="keyup" hx-post="{% url 'update_cart' item.pk %}" hx-target="#cart_table">
                </div>
            </div>
        </td>
        <td class="product-subtotal" data-title="Total">
            <div class="price price-contain">
                <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
            </div>
        </td>
    </tr>
</div>
{% endfor %}