{% extends "base.html" %} {% load static %} {% block content %}

<div class="container">

    <div class="container">

        <div class="row">

            <!--Contact info-->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="contact-info-container sm-margin-top-27px xs-margin-bottom-60px xs-margin-top-60px">
                    <h4 class="box-title">Contact Us</h4>
                    <p class="frst-desc">We typically reply to messages within the same day,</p>
                    <ul class="addr-info">
                        <li>
                            <div class="if-item">
                                <b class="tie">Phone:</b>
                                <p class="dsc">+265 881 015 415</p>
                            </div>
                        </li>
                        <li>
                            <div class="if-item">
                                <b class="tie">Email:</b>
                                <p class="dsc">sales@tsikaexpress.com</p>
                            </div>
                        </li>
                        <li>
                            <div class="if-item">
                                <b class="tie">Store Open:</b>
                                <p class="dsc">Always Open</p>
                            </div>
                        </li>
                    </ul>
                    <div class="biolife-social inline">
                        <ul class="socials">
                            <li><a href="#" title="twitter" class="socail-btn"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#" title="facebook" class="socail-btn"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#" title="pinterest" class="socail-btn"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            <li><a href="#" title="youtube" class="socail-btn"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                            <li><a href="#" title="instagram" class="socail-btn"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Contact form-->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="contact-form-container sm-margin-top-112px">
                    <form action="#" name="frm-contact">
                        <p class="form-row">
                            <input type="text" name="name" value="" placeholder="Your Name" class="txt-input">
                        </p>
                        <p class="form-row">
                            <input type="email" name="email" value="" placeholder="Email Address" class="txt-input">
                        </p>
                        <p class="form-row">
                            <input type="tel" name="phone" value="" placeholder="Phone Number" class="txt-input">
                        </p>
                        <p class="form-row">
                            <textarea name="mes" id="mes-1" cols="30" rows="9" placeholder="Leave Message"></textarea>
                        </p>
                        <p class="form-row">
                            <button class="btn btn-submit" type="submit">send message</button>
                        </p>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}